@theme {
	--color-primary: #e8eaed;
	--color-secondary: #9aa0a6;
	--color-brand-secondary: #1fc9e7;
	--color-bg: #0a0a0f;
	--color-border: rgba(255, 255, 255, 0.18);
	--color-brand: #35bfab;
	--color-card: rgba(255, 255, 255, 0.04);
	--color-article: rgba(255, 255, 255, 0.03);

	--font-averia: 'Averia Gruesa Libre', sans-serif;
	--font-sans:
		'PingFang SC', -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}
